.git
.env
.env.*
!.env.example
docker/.env

data
logs
.build
.venv
.pytest_cache
__pycache__
*.py[cod]

bin
*.a
*.bin
*.dylib
*.dll
*.exe
*.out
*.so
*.test
search-server
javsearch

docs
tmp
*.md
assets
